# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\FraXIII\OneDrive - Thammasat University\เดสก์ท็อป\working\cn415\DisplayTempOnLINE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
